
backend.mycredential.eu {
	reverse_proxy http://172.31.40.66:7000
}

issuer.mycredential.eu {
	reverse_proxy http://172.31.40.66:7001
}

verifier.mycredential.eu {
	reverse_proxy http://172.31.40.66:3000
}

wallet.mycredential.eu {
	reverse_proxy http://172.31.40.66:7006
}
